@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
  font-family: "Cuvete";
  margin-bottom: 20px;
}

.search-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 18px 8px 0px 8px;
  border-radius: 8px;
  border-width: 0px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px 2px rgb(236, 234, 234);
  
}
.line{
  background-color: white;
  height: 0.1rem;
}

.bi {
  margin-left: 13px;
}

.search {
  outline: none;
  border: none;
  margin-left: 10px;
}

.sub-path {
  color: black;
}

.sales-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 13px;
  margin-top: 8px;
  width: 300px;
  border-radius: 10px;
}


/* Side Menu Bar */

.side-menu-bar {
  background-color: #9B76D6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;

}

.side-menu-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

a {
  text-decoration: none;
  display: block;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #BEFB7A;

}

li {
  padding: 5px 20px;
  margin-bottom: 10px;
}

.logo {
  width: 90px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.symb {
  color: white;
  margin-left: 15px;
  margin-right: 5px;
}

.local {
  margin-left: 10px;
}



/*sections*/
.section1 {
  display: flex;
  
}

.section2 {
  display: flex;
  margin-top: 10px;
}

.mini-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 10px;
  padding: 18px;
}

.mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 25px 10px 0px;
}

.mini-card-title {
  padding-top: 5px;
  color: rgb(102, 101, 101);
}

.mt {
  margin-top: 6px;
}

.ver {
  margin-top: 4px;
}

.path {
  color: lightgrey;
}

.earning-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 13px;
}

.card-title1 {
  font-size: 18px;
  font-weight: 450;
}

.card-sub1 {
  font-weight: 500;
  color: lightgray;
  margin-left: 10px;
}

.yearly {
  color: black;
  padding: 5px;
  background-color: #e1d2fa;
  border-radius: 5px;
}

/* nav bar */
.box {
  border: 1px solid rgb(216, 214, 214);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container {
  display: flex;
  align-items: center;
}

.end-container {
  display: flex;

}

.end-sub-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

.end-card-sub1 {
  background-color: #e1e0e1;
  padding: 3px;
  border-radius: 10px;
}

.end-sub-container {
  line-height: 5px;
}

.card-sub {
  font-size: 18px;

}

.card-sub-container {
  display: flex;
  align-items: center;
  padding: 7px;
}

.h {
  font-size: 30px;
}

.usd {
  font-size: 18px;
}

.end-title {
  font-size: 14px;
  color: rgb(151, 149, 149);
}

.long {
  background-color: #b6fdc8;
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  color: black;
}

.growth {
  color: #85f306;
  font-size: 18px;
  font-weight: 700;
}

.growth-red {
  color: red;
}

.growth-sub {
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-left: 8px;
}

.profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile {
  background-color: #c5aaf1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  line-height: 3px;
  padding-top: 30px;
}

@media screen and (max-width:768px) {
  .main-container{
    justify-content: flex-start;
  }
  .side-menu-bar {
    display: none;
  }
}